
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Group C Student Site</h2>
                    <div class="section_subtitle"><p>Our main priority is to help students to see what exams are up coming and provide an easy way to submit an exam and review their previous marks and submissions</p></div>
                </div>
            </div>
        </div>
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="/images/icon_1.png" alt=""></div>
                    <h3 class="feature_title">Easy To Use</h3>
                    <div class="feature_text"><p>Submit your answers in a fashion and easy way</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="/images/icon_2.png" alt=""></div>
                    <h3 class="feature_title">Heads Up</h3>
                    <div class="feature_text"><p>Know what exams are close to each student</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="/images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Best Application</h3>
                    <div class="feature_text"><p>Access all your previous exams and see your answers and results</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="/images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Best Site</h3>
                    <div class="feature_text"><p>this site proved to be the perfect tool that helps students to submit their exams</p></div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Upcoming Exams</h2>
                </div>
            </div>
        </div>
        <div class="row events_row">

            <!-- Event -->
            <div class="col-lg-4 event_col">
                <div class="event event_left">
                    <div class="event_image"><img src="/images/event_1.jpg" alt=""></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <div class="event_day trans_200">21</div>
                                <div class="event_month trans_200">Jun</div>
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="#">Body Language</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>13.00 - 15.00</span></div>
                                <div class="event_info"><i class="fa fa-book" aria-hidden="true"></i><span>Psychology</span></div>
                                <div class="event_text">
                                    <p>
                                        The Secrets of Body Language For third year psychology students
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event -->
            <div class="col-lg-4 event_col">
                <div class="event event_mid">
                    <div class="event_image"><img src="/images/event_2.jpg" alt=""></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <div class="event_day trans_200">3</div>
                                <div class="event_month trans_200">Jan</div>
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="#">Graphic Design</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>09.00 - 10.30</span></div>
                                <div class="event_info"><i class="fa fa-book" aria-hidden="true"></i><span>Softwhere Engineering</span></div>
                                <div class="event_text">
                                    <p>Web develpment for second year IT students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event -->
            <div class="col-lg-4 event_col">
                <div class="event event_right">
                    <div class="event_image"><img src="/images/event_3.jpg" alt=""></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <div class="event_day trans_200">15</div>
                                <div class="event_month trans_200">Jan</div>
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="#">Fine Arts 101</a></div>
                            <div class="event_info_container">
                                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>13.00 - 15.30</span></div>
                                <div class="event_info"><i class="fa fa-book" aria-hidden="true"></i><span>Art </span></div>
                                <div class="event_text">
                                    <p>Fine Arts principles for first year artists</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

















@{ 
/*

<!--
///////////////////// before ////////////////

@model IEnumerable<GroupC.Uni.Core.Entities.Exam>

<section class="content">
<div class="box" style="padding: 20px">
    <div class="box-header">
        <h2 class="box-title">Exames</h2>
    </div>

    <p style="text-align:right">
        <a asp-action="Create" class="btn btn-sm btn-bitbucket" style="margin-right:10px">Create New Exam</a>
    </p>
    <table class="table" id="ExamTable">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.ExamQuestions)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DurationInMinutes)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.IsRandom)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.QuestionsCount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Course)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TestCenter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamDate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayNameFor(model => model.ExamQuestions)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationInMinutes)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.IsRandom)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionsCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TestCenter.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamDate)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</section>








-->
*/}