@model IEnumerable<GroupC.Uni.Web.ViewModels.CourseModelView>
@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@{
    bool isRightToLeft = false;
    var ReqCulture = Context.Features.Get<IRequestCultureFeature>();
    isRightToLeft = ReqCulture.RequestCulture.Culture.TextInfo.IsRightToLeft;
}

@inject IViewLocalizer Localizer

<style>
    #ImageDisplay {
        width: 50px;
    }
    #CourseTable thead,
    #CourseTable th {
        text-align: center;
    }
</style>
<!--actual conten-->

<section class="content">
    <br />
    <div class="box" style="padding: 20px">
        <div class="box-header">
            <h2 class="box-title">@Localizer["Courses"]</h2>
        </div>

        <p style="text-align:right">
            <a asp-action="Create" class="btn btn-sm btn-bitbucket" style="margin-right:10px">@Localizer["Create New Course"]</a>
        </p>
        <table class="table" id="CourseTable" style="margin:20px">
            <thead>
                <tr>
                    <th >
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th >
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Localizer["Image"]
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align: center;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td align="center">
                            <img id="ImageDisplay" src="@item.ImageURL" />
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.LastUpdateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>*@

                        <td>
                            <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Update"]</a>
                            <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                            <a class="btn btn-sm btn-danger delete"
                               data-id="@item.Id"
                               data-controller="Courses"
                               data-action="Delete"
                               data-body-message="Are you sure you want to delete this Course?">
                                @*<span class="glyphicon glyphicon-trash" style="color:#ff0000"></span>*@
                                @Localizer["Delete"]
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>